<h2>Recent games</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Played</th>
            <th>White</th>
            <th>Black</th>
            <th>Result</th>
            <th>Termination</th>
            <th>Length (plies)</th>
            <th>Movetime</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        {{range .RecentGames}}
        <tr>
            <td>{{.ID}}</td>
            <td class="mono">{{.PlayedAt}}</td>
            <td>{{.White}}</td>
            <td>{{.Black}}</td>
            <td>{{.Result}}</td>
            <td>{{.Termination}}</td>
            <td>{{.Plies}}</td>
            <td>{{.MovetimeMS}} ms</td>
            <td><a href="/games/view?id={{.ID}}">open</a></td>
        </tr>
        {{end}}
    </tbody>
</table>
